header{
    color: var(--main-color);
    background-color: var(--background-color);
    padding: 0.5em 1em;
    box-shadow: 0px 2px 5px 0px rgba(30, 30, 30, 0.5);
    z-index: 1;
}

main{
    padding: 1em;
    background-color: var(--background-color);
    flex: 1;
}