header{
    color: var(--main-color);
    background-color: var(--background-color);
    padding: 0.5em 1em;
    box-shadow: 0px 2px 5px 0px rgba(30, 30, 30, 0.5);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 2.25rem;
    user-select: none;
  }

.login-link{
    display: block;
    color: white;
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 0.4em 0.75em;
    font-size: 1.25rem;
    border-radius: 4px;
}

.login-link:visited{
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-background-color);
    flex: 1;
}