*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "National Park", sans-serif;
}

:root{
  /* colors */
  --main-color: #08722e;
  --secondary-color: #9b1168;
  --text-color: #05441c;
  --dark-background-color: #05441c;
  --background-color: #b7e5c9;
  --white-background-color: rgb(229, 247, 229);
  --hover-color: rgb(213, 230, 213);
  --section-background-color: #c8fbdb;
  /* #92817A */ 
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}