*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "National Park", sans-serif;
}

:root{
  /* colors */
  --main-color: #04471C;
  --secondary-color: #EE4266;
  /* --dark-background-color: #0D2818; */
  --background-color: #abe9c3;
  /* #92817A */ 
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}